[submodule "thesis"]
	path = thesis
	url = git@github.com:bidinpithecus/cps-type-inferer-thesis.git
[submodule "code"]
	path = code
	url = git@github.com:bidinpithecus/cps-type-inferer.git
[submodule "literature"]
	path = literature
	url = git@github.com:bidinpithecus/cps-type-inferer-literature.git
[submodule "presentation"]
	path = presentation
	url = git@github.com:bidinpithecus/cps-type-inferer-presentation.git
