[submodule "thesis"]
	path = thesis
	url = git@github.com:bidinpithecus/cps-type-inferer-thesis
[submodule "implementation"]
	path = implementation
	url = git@github.com:bidinpithecus/cps-type-inferer-implementation
[submodule "literature"]
	path = literature
	url = git@github.com:bidinpithecus/cps-type-inferer-literature.git
